
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Ensure the AppBar takes full width and is fixed */
.AppBar-root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100; /* Default
for MUI AppBar */
}

/* Use padding-top on the main content to prevent overlap with the AppBar */
.root-content {
padding-top: 64px; 
max-width: 1280px;
margin: 0 auto;
text-align: center;
}








/*ovdje*/
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Remove any width constraints from .navbar if not necessary 
.navbar {
  width: 100%;
  margin: 0;
}*/
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it appears on top of other elements */
}

/* Apply constraints to specific content areas */
.content, .root-content {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.AppBar-root {
  width: 100%; /* Ensure the AppBar takes full width */
}

.Tabs-root {
  justify-content: space-between; /* This will push your tabs to occupy all available space */
}

.Tabs-flexContainer {
  justify-content:
flex-end; /* Aligns the tabs (menu items) to the right */
}

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  max-width: none;
  margin: 0;
  width: 100%;
}
*/






