/* App.css */

.title {
  margin-bottom: 20px; /* Or however much space you want */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* AppBar styling */
.AppBar-root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
}

/* Style for content that needs to be pushed down below AppBar */
.root-content {
  padding-top: 64px; 
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  }

/* AdminPage-root should not be globally applied, only in AdminPage component */
.AdminPage-root {
  display: flex;
  paddingTop: 64px; /* Height of AppBar */
}

/* Drawer paper adjustment */
.MuiDrawer-paper {
  margin-top: 64px; /* Height of AppBar */
  height: calc(100% - 64px); /* Adjust height accordingly */
}

/* Centering styles for main content within each page */
.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Full height of its container */
}



/* Apply constraints to specific content areas */
.content, .root-content {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


.Tabs-root {
  justify-content: space-between; /* This will push your tabs to occupy all available space */
}

.Tabs-flexContainer {
  justify-content:
flex-end; /* Aligns the tabs (menu items) to the right */
}